
.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

h1,
h2 {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
}

.character {
    width: 25%;
    margin: 3%;
    border: 2px #E6E6E6 solid;
    border-radius: 5px;
    text-align: center;
}

.info-character {
    text-align: justify;
    padding:  3%;
}

.character img {
    width: 80%;
    border-radius: 3%;
}

footer {
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

footer p {
    padding-top: 2%;
}

form {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.elemnt-form {
    width: 100%;
    margin-bottom: 2%;
}

.label {
    width: 20%;
    float: left;
}




.btn-article button {
    background-color: blue;
    border: 5px blue solid;
    border-radius: 10px;
    height: 30px;
    color: white;
    font-weight: bold;
}